@charset "utf-8";

* {
margin:0;
padding:0;
}

img, a img {
border:0 none;
}

img {
vertical-align:baseline;
}

a {
outline:0;
}

input:focus, textarea:focus, select:focus {
outline: none;
}

textarea {
resize: none;
}

/*img, div, input { behavior: url("iepngfix.htc") }*/


.imgCenter {
display:block;
margin:0 auto;
clear:both;
}

.imgRight {
float:right;
}

.imgLeft {
float:left;
}

.none {
display:none;
}

.underlined {
text-decoration:underline;
}

.textCenter {
text-align:center;
}

.textLeft {
text-align:left;
}

.textRight {
text-align:right;
}

.clear {
clear:both;
height:0;
line-height:0;
font-size:0;
}

body {
font-size:13px;
color:#333333;
background:#ffffff;
font-family:Arial, Helvetica, sans-serif;
}

/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
filter: alpha(opacity=0);*/

.wrapper {
width:451px;
background:#F5F5F5;
margin:0 auto;
}

.header {
padding-top:20px;
padding-bottom:20px;
}

.header h1 {
color: #F7AF32;
font-family: Impact, Arial;
font-size: 36px;
font-style: italic;
line-height: 36px;
text-align: center;
font-weight:normal;
padding-bottom:5px;
}

.header h2 {
color: #666666;
font-size: 24px;
font-weight: normal;
letter-spacing: -0.05em;
padding: 10px 10px 20px 10px;
text-align: center;
}

.divider {
margin-left:-20px;
}

.content h1 {
 color: #CC0000;
font-family: tahoma,arial;
font-size: 28px;
font-style: italic;
font-weight: normal;
padding: 0px 20px 20px 20px;
text-align: center;
}

.videobox {
width:640px;
height:385px;
padding:12px;
background:#dddddd;
margin:0 auto 20px;
-webkit-box-shadow: inset 0px 0px 3px 3px #d3d3d3;
-moz-box-shadow: inset 0px 0px 3px 3px #d3d3d3;
box-shadow: inset 0px 0px 3px 3px #d3d3d3;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.content p {
margin-bottom:20px;
}

.textbox {
padding:10px 20px;

line-height:normal;
}

.regregion {
width:451px;
background:#f5f5f5;
}

.regbox {
float:right;
width:451px;
background:url(images/reg.jpg) repeat-y;
}

.regtop {
background:url(images/regtop2.jpg) no-repeat left top;
}

.regbottom {
background:url(images/regbottom.jpg) no-repeat left bottom;
padding-top:120px;
padding-bottom:30px;
}

.regcontent {
width:380px;
margin:0 auto;
}

.regbox p {
color: #111111;
float: left;
font-weight: bold;
width: 227px;
}

#localtime {
margin-left:17px;
color: #999;
}

.regbox p span {
font-weight:normal;
text-align:center;
}

.regbox input[type="text"], .regbox select {
border:1px solid #999999;
float:right;
padding: 4px;
width: 147px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background: #f9f9f9 url(images/input.gif) repeat-x left top;
color:#5f5f5f;
}

.regbox input[type="text"] {
width:142px !important;
}

.red {
color:#ce0000 !important;
}

.formline {
float: left;
margin-bottom: 10px;
}

.formline input[type="checkbox"] {
margin-right:4px;
}

.sms {
color: #666666;
float: left;
font-size: 11px;
width: 294px;
}

.formline input[type="submit"] {
background: transparent url(images/registernow.jpg) no-repeat;
width:298px;
height:57px;
margin:0 0 0 43px;
display:block;
cursor:pointer;
border: 0 none;
}

.graybox {
width:700px;
margin:0 auto;
background:#dddddd;
font-size:11px;
text-align:center;
padding:10px 0;
}

#darkgray {
background:#636363;
-webkit-box-shadow: inset 0px 0px 3px 3px #414141;
-moz-box-shadow: inset 0px 0px 3px 3px #414141;
box-shadow: inset 0px 0px 3px 3px #414141;
}

#blue {
background:#487cb6;
-webkit-box-shadow: inset 0px 0px 3px 3px #2740bd;
-moz-box-shadow: inset 0px 0px 3px 3px #2740bd;
box-shadow: inset 0px 0px 3px 3px #2740bd;
}

#yellow {
background:#efd43b;
-webkit-box-shadow: inset 0px 0px 3px 3px #d7bc23;
-moz-box-shadow: inset 0px 0px 3px 3px #d7bc23;
box-shadow: inset 0px 0px 3px 3px #d7bc23;
}

#red {
background:#ee0000;
-webkit-box-shadow: inset 0px 0px 3px 3px #d12e2e;
-moz-box-shadow: inset 0px 0px 3px 3px #d12e2e;
box-shadow: inset 0px 0px 3px 3px #d12e2e;
}

#green {
background:#5a9a3c;
-webkit-box-shadow: inset 0px 0px 3px 3px #316419;
-moz-box-shadow: inset 0px 0px 3px 3px #316419;
box-shadow: inset 0px 0px 3px 3px #316419;
}

.header .blue-head {
 color:#ecac00;
}

.header .darkgray-head {
color:#ecac00;
}

.header .yelow-head {
color:#ecac00;
}

.header .red-head {
color:#ecac00;
}

.header .green-head {
color:#ecac00;
}

.header .lightgray-head{
	color:#ecac00;
	}
.sms{ padding: 8px; margin-left: 35px; }
#sms_slide input, #sms_slide select{ float:left; margin-left:28px; }

/** footer css adds **/
#footer {
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	background: url(images/footer2_bg.png);	
}
#footer p{
	line-height: normal;
	}		
	
#navfooterlist li
{
display: inline;
list-style-type: none;
padding-right: 10px;

}
#navfooterlist li a{
	text-decoration:none;	
	font-size: 12px;

}
/** end footer css adds **/	 	
					