@charset "utf-8";
/* CSS Document */
html {
overflow-x: hidden; 
}
body {
	background:#969696 url(../images/top-bar-bg.gif) repeat-x;
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#222;
	overflow-x: visible;  
}
	h1,h2,h3,h4,h5,h6 {
		color:#222222;
	}
	h1 { font-size:36px; font-weight:bold; line-height:36px; }
	h2 { font-size:30px; font-weight:bold; line-height:30px; }
	h3 { font-size:24px; font-weight:bold; line-height:24px; }
	h4 { font-size:20px; font-weight:bold; line-height:20px; margin-bottom:15px;}
	h5 { font-size:18px; font-weight:bold; line-height:18px; margin-bottom:15px; }
	h6 { font-size:16px; font-weight:bold; line-height:16px; margin-bottom:15px; }
	.hide {
		background:none;
		font-size:1px;
		display:none;
		height:0;
		left:-9999px;
		overflow:hidden;
		position:absolute;
		top:-9999px;
		width:0;
		z-index:0;
		line-height:0px;
	}
	.clearfix:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.clearfix {
		display: inline-block;
	}
	html[xmlns] .clearfix {
		display: block;
	}
	* html .clearfix {
		height: 1%;
	}
	#wrapper {
		margin:0 auto;
		width:990px;
	}
		#topBar {
			height:43px;
			margin-bottom:14px;
			width:980px
		}
			#topBar h1 {
				float:left;
				font-size:18px;
				text-transform:uppercase;
				text-shadow: 1px 1px 0px #e0e0e0;
				filter: dropshadow(color=#e0e0e0, offx=1, offy=1);
				width:410px;
				margin-left:10px;
			}
			#topBar .left {
				float:right;
				margin-top:7px;
			}
				#topBar .left #name {
					background:url(../images/divider.gif) no-repeat right top;
					float:left;
					margin:0px 5px 0 0;
					padding:4px 0;
					padding-right:7px;
				}
				#topBar .left #name h6 {
					color:#d60000;
					float:left;
					font:normal 11px Arial, Helvetica, sans-serif;
					margin:0;
				}
				#topBar .left #name .country {
					float:left;
					margin-left:5px;
				}
				#topBar .left ul {
					float:right;
				}
					#topBar .left ul li {
						float:left;
							color:#d5d5d5;
						font-size:11px;
						background-image: -moz-linear-gradient(top, #989898, #6d6d6d);
						background-image: -webkit-gradient(linear, center top, center bottom, from(#989898), to(#6d6d6d));
						background-image: -o-linear-gradient(top, #989898, #6d6d6d);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#6d6d6d');
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#6d6d6d')";
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						background-image: linear-gradient(top, #989898, #6d6d6d);
						border-radius:4px;
						padding: 5px 8px;
						text-decoration:none;
					}
					#topBar .left ul .mid {
						margin:0 3px;
					}
					#topBar .left ul li a {
						color:#d5d5d5;
						font-size:11px;
						background-image: -moz-linear-gradient(top, #989898, #6d6d6d);
						background-image: -webkit-gradient(linear, center top, center bottom, from(#989898), to(#6d6d6d));
						background-image: -o-linear-gradient(top, #989898, #6d6d6d);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#6d6d6d');
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#6d6d6d')";
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						background-image: linear-gradient(top, #989898, #6d6d6d);
						border-radius:4px;
	
						text-decoration:none;
					}
					#topBar .left ul li a:hover {
	
						color:#FF0;
						
					}
		#header {
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			background:#f6f6f6;
			background-color:#ffffff;
			border-width:0px;
			border-color:#999999;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
			-moz-box-shadow:2px 2px 3px #787878;
			-webkit-box-shadow:2px 2px 3px #787878;
			box-shadow:2px 2px 3px #787878;
			filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=135, color='#787878');
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=135, Color='#787878')";
			/*Shadows look very different in IE (Only cardinal directions supported)*/
			/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
			/*Element should have a background-color*/
			/*All filters must be placed together*/
			/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
			padding:10px 8px 10px 20px;
			overflow:visible;
			height:120px;
			margin-bottom:20px;
			width:952px;
		}
			#header ul {
				float:left;
				margin-top:4px;
				width:600px;				
			}
				#header ul li {
					font-size:16px;
					padding: 5px 0 5px 30px;
				}
				#header ul li .red {
					color:#d60000;
					font-weight:bold;
				}
				#header ul li span {
					font-weight:bold;
				}
				#header ul .webinar {
					background:url(../images/icon-webinar.png) no-repeat 0px 3px;
				}
				#header ul .presenter {
					background:url(../images/icon-presenter.png) no-repeat 0px 3px;
					
				}
				#header ul .status {
					background:url(../images/icon-status.png) no-repeat 0px 3px;
				}
				#header ul .line {
					background:url(../images/line.gif) no-repeat;
					height:1px;
					padding:0;
					margin:5px 0;
				}
			#header #right {
				float:right;
			}
				#header #right img {
					border:solid 3px #838383;
				}
				#header #right h5 {
					background-color:#838383;
					color:#fff;
					font-size:11px;
					text-align:center;
					text-transform:uppercase;
					padding:0;
					margin:-3px 0 0;
				}
				#header #right #host, #header #right #speaker{
					float:right;
					width:106px;
				}
				#header #right #speaker{
					margin:0 8px;
				}
				#facebookLike {
					float:right;
					width:102px;
					height:75px;
					margin:20px 0 0 10px;
				}
					#facebookLike a {
						background:url(../images/fb-like.png) no-repeat;
						display:block;
						text-indent:-999em;
						width:102px;
						height:75px;
					}
		#content {
			width:990px;
		}
			#contentLeft {
				width:670px;
				padding-bottom:10px;
				float:left;
				overflow:hidden;
			}
				#contentLeft #video, #contentLeft #events {
					-moz-border-radius:4px;
					-webkit-border-radius:4px;
					border-radius:4px;
					background:#d2d2d2;
					background-color:#d2d2d2;
					border-width:0px;
					border-color:#999999;
					-moz-border-radius:4px;
					-webkit-border-radius:4px;
					border-radius:4px;
					/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
					-moz-box-shadow:2px 2px 3px #787878;
					-webkit-box-shadow:2px 2px 3px #787878;
					box-shadow:2px 2px 3px #787878;
					filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=135, color='#787878');
					-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=135, Color='#787878')";
					/*Shadows look very different in IE (Only cardinal directions supported)*/
					/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
					/*Element should have a background-color*/
					/*All filters must be placed together*/
					/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
					padding:3px 10px 10px 10px;
					width:640px;
					border-top:solid 1px #fff;
					margin-bottom:10px;
				}
				#video h3, #events h3, #membersBox h3, #membersBox2 h3, #chat h3, #quickMessage h3 {
					font-size:13px;
					margin-bottom:3px;
				}
				#events textarea, #chat textarea {
					border:solid 3px #a7a6a6;
					font:normal 12px Arial, Helvetica, sans-serif;
					padding:5px 8px;
				}
				#events textarea {
					width:594px;
					overflow: auto;
					min-height:143px;
				}
				#chat textarea {
					width:268px;
					overflow:auto;
					min-height:200px;
				}
					#chat #chatMsg {
						
						margin-top:1px;
						padding:5px 5px 5px 0px;
		
						
					}
			#contentRight {
				width:320px;
				padding-bottom:10px;
				float:left;
				overflow:hidden;
			}
				#contentRight #membersBox,#contentRight #membersBox2, #contentRight #chat, #contentRight #quickMessage  {
					-moz-border-radius:4px;
					-webkit-border-radius:4px;
					border-radius:4px;
					background:#d2d2d2;
					background-color:#d2d2d2;
					border-width:0px;
					border-color:#999999;
					-moz-border-radius:4px;
					-webkit-border-radius:4px;
					border-radius:4px;
					/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
					-moz-box-shadow:2px 2px 3px #787878;
					-webkit-box-shadow:2px 2px 3px #787878;
					box-shadow:2px 2px 3px #787878;
					filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=135, color='#787878');
					-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=135, Color='#787878')";
					/*Shadows look very different in IE (Only cardinal directions supported)*/
					/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
					/*Element should have a background-color*/
					/*All filters must be placed together*/
					/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
					padding:3px 10px 10px 10px;
					width:290px;
					border-top:solid 1px #fff;
					margin-bottom:10px;
					overflow:hidden;
				}
				#contentRight #membersBox #presenter ,#contentRight #membersBox2 #presenter{
					background-image: -moz-linear-gradient(top, #575454, #363333);
					background-image: -webkit-gradient(linear, center top, center bottom, from(#575454), to(#363333));
					background-image: -o-linear-gradient(top, #575454, #363333);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575454', endColorstr='#363333');
					/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
					/*Element must have a height (not auto)*/
					/*All filters must be placed together*/
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#575454', endColorstr='#363333')";
					/*Element must have a height (not auto)*/
					/*All filters must be placed together*/
					background-image: linear-gradient(top, #575454, #363333);
					height: 20px;
					padding: 9px 7px 9px 15px;
				}
					#presenter h4 {
						float:left;
						color:#ffe743;
						font-size:14px;
						width:175px;
						margin-bottom:0;
						white-space:nowrap;
						overflow:hidden;
						font-weight:normal;
					}
					#presenter #status {
						background:#ffffff url(../images/icon-presenter-sml2.png) no-repeat 0px 3px;
						border-width:0px;
						border-color:#999999;
						-moz-border-radius:3px;
						-webkit-border-radius:3px;
						border-radius:3px;
						/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
						display:block;
						font:bold 11px Arial, Helvetica, sans-serif;
						text-transform:uppercase;
						padding:10px 0px 0px 0px;
						width:80px;
						float:right;
						height: 12px;
					}
					#members {
						overflow:auto;
						height:317px;
						border:solid 1px #a7a7a7;
						background:#fff;
					}
					#membersList {
						
					}
						#membersList li {
							background:url(../images/member-offline.gif) repeat-x;
							font-size:14px;
							height:38px;
						}
						#membersList .online {
							background:url(../images/member-online.gif) repeat-x;
							font-size:14px;
							height:38px;
						}
							#membersList .online .status {
								background:#cdcdcd;
								border-width:0px;
								border-color:#999999;
								-moz-border-radius:3px;
								-webkit-border-radius:3px;
								border-radius:3px;
								/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
								padding:4px 8px;
								margin:6px 5px 0 9px;
								float:right;
								opacity: 1;
								filter: alpha(opacity=100); /*for Internet Explorer 6/7*/
								filter: "alpha(opacity=100)"; /*for Internet Explorer 8*/ 
							}
							#membersList li h5 {
								float:left;
								font:normal 14px Arial, Helvetica, sans-serif;
								width:200px;
								padding:9px 5px 10px 15px;
								margin:0;
								height:19px;
								overflow:hidden;
								white-space:nowrap;
							}
							#membersList li .status {
								background:#cdcdcd;
								border-width:0px;
								border-color:#999999;
								-moz-border-radius:3px;
								-webkit-border-radius:3px;
								border-radius:3px;
								/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
								padding:4px 8px;
								margin:6px 5px 0 9px;
								float:right;
								opacity: 0.4;
								filter: alpha(opacity=40); /*for Internet Explorer 6/7*/
								filter: "alpha(opacity=40)"; /*for Internet Explorer 8*/ 
							}
					#membersBox .shoutout,#membersBox2 .shoutout {
						background:#fff url(../images/icon-member-blue.png) no-repeat 3px 5px;
						border:solid 1px #8f8e8e;
						padding:7px 4px 7px 4px;
						margin:2px 0 0;
					}
				
				#content #quickMessage h6 {
					border-top:solid 3px #222;
					font:11px normal Arial, Helvetica, sans-serif;
					margin-bottom:8px;
					padding:5px 0 0px;
				}
				#content #quickMessage #form {
			
				}
				#content #quickMessage #form div {
					float: left; margin-top: 3px;
				}
				#content #quickMessage #form label {
					float: left;
					font:italic 12px Arial, Helvetica, sans-serif;
					margin:5px;
					text-align: right;
					width: 65px;
				}
				
				
				
.eventdivs{ padding:10px; }
#divfixedbutton { padding:10px !important; } 
#quickMessage input, #quickMessage textarea{ margin-top:2px; }	
.FB_UI_Hidden{ width:1px !important; }			
.divpoll{ margin: 5px auto 5px 10px !important; width:625px !important; }
				
				
				
				
				
				
					
#ajaxloader{
  position: fixed;
  top: 0;
  z-index:100;
  width:100%;
  height:50px; 
  position:fixed; 
  padding-top: 10px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  display: none;
}

#buffertime, #preview1{
  position: fixed;
  top: 0;
  z-index:100;
  width:100%;
  height:50px; 
  position:fixed; 
  padding-top: 10px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  display: block;
}


				
				
				
				
				
				
				
				
				
				
				
				