body, h1, h2, h3, h4, h5, p, form, ul, ol, li, fieldset { 
margin: 0; 
padding: 0; 
}

object, embed { 
outline: none; 
}

ul, ol, li { 
list-style: none; 
}

img, fieldset { 
border: 0; 
}

body {
background: #ededed url(images/bg.png) repeat-x;
font-family: arial, verdana, helvetica, san-serif;
font-size: 15px;
color: #595959;
}

#header {
height: 185px;
background: url(images/header_bg.png) no-repeat;
width: 1000px;
margin: 0 auto;

}

#header h1 {
padding-top: 4px;
}

h1 {
font-size: 48px;
font-family: impact, verdana, arial, tahoma, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #e6e6e6;
margin: 0;
padding: 0;
text-align: center;
text-shadow: 0 2px 2px #000;
}

h2 {
font-size: 36px;
font-family: impact, verdana, arial, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #FF8400;
margin: 0;
padding: 0;
text-align: center;
}

#wrapper {
width: 1000px;
margin: 0 auto;
background: url(images/body_bg.png) repeat-y;
}

#room {
width: 1000px;
margin: 0 30px;
}

#video {
width: 660px;
float: left;
margin-bottom: 25px;
}

#video_top {
width: 660px;
background: #f6f6f6 url(images/v_top.png);
float: left;
margin: 0px;
padding:0px;
}

#video_mid {
width: 660px;
background: #f6f6f6 url(images/v_mid.png);
float: left;
margin: 0px;
padding:0px;
}

#video_bottom {
width: 660px;
background: #f6f6f6 url(images/v_bottom.png);
float: left;
margin: 0px;
padding:0px;
}

#video_player {
width: 640px;
margin: 0 auto;

}

#download {
width: 640px;
text-align: center;
height: 137px;
margin: 0 auto;
margin-top: 30px;
background-color: #f6f6f6;
}

#question_form {
margin: 25px 25px 25px 35px;
color: #000;
width: 600px;
}

#question_form form {
margin: 20px 0 20px 10px;
}

#question_form label {
width: 165px;
float: left;
}

.entry {
font-size: 13px;
color: #3d3d3d;
width: 350px;
border: 1px solid #ccc;
float: left;
margin: 0 0 8px 25px;
padding: 7px 0 7px 5px;
}

.submit {
margin: 12px 0 0 190px;
}

#instructions {
line-height: 24px;
font-size: 15px;
}

.clear {
clear: both;
}

#chat_list {
width: 283px;
float: left;
}

#chat_list_header {
background: url(images/chat_list_header.png) no-repeat;
height: 55px;
width: 283px;
color: #fff;
font-size: 15px;
text-align: center;
line-height: 60px;
margin-top: -10px;
}

#chat_listing {
background: url(images/chat_list_bg.png) repeat-y;
width: 283px;
}

#chat_list_list {
height: 440px;
width: 273px;
overflow: auto;
}

#chat_listing ul {
margin: 0;
padding-left:10px;
}

#chat_listing li {
line-height: 27px;
height: 27px;
border-bottom: 1px solid #ccc;
padding-left: 30px;
padding-right: 0;
}

#chat_listing li.last {
border-bottom: none;
}

#chat_listing li a {
color: #000;
text-decoration: none;
font-size: 13px;
font-weight: bold;
}

#chat_listing li a span {
color: #fff;
text-decoration: none;
font-size: 13px;
font-weight: bold;
}

#host {
background: #fd9500 url(images/mic.gif) no-repeat center right;
}

#chat_list_bottom {
background: url(images/chat_list_bottom.png) no-repeat;
height: 17px;
width: 283px;
}

#footer {
width: 1000px;
margin: 0 auto;
background: url(images/footer_bg.png) no-repeat;
height: 88px;
text-align: center;
}

#footer p {
line-height: 88px;
color: #c5c5c5;
font-size: 12px;
}

#footer a {
text-decoration: none;
color: #c5c5c5;
padding: 0 10px;
}
