body, h1, h2, h3, h4, h5, p, form, ul, ol, li, fieldset { 
margin: 0; 
padding: 0; 
}

object, embed { 
outline: none; 
}

ul{ 
/*list-style: none; */
padding-left:30px;
line-height:24px;
}


img, fieldset { 
border: 0; 
}

body {
background: #ededed url(images/bg.png) repeat-x;
font-family: arial, verdana, helvetica, san-serif;
font-size: 15px;
color: #595959;
}

#header {
height: 185px;
background: url(images/header_bg.png) no-repeat;
width: 924px;
margin: 0 auto;
}

#header h1 {
padding-top: 4px;
}

h1 {
font-size: 48px;
font-family: impact, verdana, arial, tahoma, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #414448;
margin: 0;
padding: 0;
text-align: center;
text-shadow: 0 2px 2px #fff;
}

h2 {
font-size: 36px;
font-family: impact, verdana, arial, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #fff;
margin: 0;
padding: 0;
text-align: center;
text-shadow: 0 2px 2px #000;
}

#wrapper {
width: 924px;
margin: 0 auto;
background: url(images/body_bg.png) repeat-y;
}

#intro {
width: 860px;
margin: 0 40px;
}

#intro-text {
width: 500px;
margin-right: 25px;
float: left;
}

#intro-text h3 {
font-size: 25px;
color: #000;
font-weight: bold;
margin: 10px 0;
}

#intro-text p {
line-height: 22px;
margin: 17px 0;
}

#photo {
width: 320px;
float: left;
margin-top: 20px;
}

.clear {
clear: both;
}

#divider {
width: 924px;
margin: 0 auto;
background: url(images/divider.png) no-repeat;
height: 42px;
}

#sign-up {
width: 924px;
margin: 10px 10px 0 0;
}

#banner {
width: 460px;
height: 109px;
margin: 20px 14px 0 0;
float: left;
}

#form {
width: 425px;
float: left;
margin-bottom: 50px;
}

#form-header {
background: url(images/form_header.png) no-repeat;
height: 82px;
width: 425px;
}

#line1 {
padding-top: 4px;
font-size: 28px;
font-weight: bold;
color: #000;
text-align: center;
}

#line2 {
font-size: 30px;
font-weight: bold;
color: #fff;
text-align: center;
}

#form-bg {
background: url(images/form_bg.png) repeat-y;
width: 425px;
}

#local-time {
font-size: 25px;
text-align: center;
color: #353535;
font-weight: normal;
padding: 15px 0 0 0;
}
				
#form-footer {
background: url(images/form_footer.png) no-repeat;
height: 11px;
width: 425px;
}

#footer {
width: 924px;
margin: 0 auto;
background: url(images/footer_bg.png) no-repeat;
height: 88px;
text-align: center;
}

#footer p {
line-height: 88px;
color: #675d38;
font-size: 12px;
}

#footer a {
text-decoration: none;
color: #675d38;
padding: 0 10px;
}

#date, #time {
width: 365px;
margin: 0 0 20px 30px;
}

#date {
margin-top: 10px;
}

#date-title, #time-title {
line-height: 22px;
height: 22px;
font-size: 16px;
color: #353535;
width: 155px;
padding-right: 20px;
text-align: right;
float: left;
}

#date-select, #time-select {
width: 180px;
float: left;
}

#date-select select, #time-select select {
font-size: 13px;
color: #3d3d3d;
padding: 1px 20px 1px 4px;
}

#dates, #times {
width: 180px;
}

#line {
height: 1px;
background: #fbeeae;
margin: 0 2px;
}

#register {
color: #353535;
font-size: 25px;
font-weight: bold;
text-align: center;
margin: 20px 0 15px 0;
}

.entry {
font-size: 13px;
color: #3d3d3d;
margin: 0 0 8px 85px;
padding: 5px 0 5px 5px;
width: 250px;
border: 0;
}

.submit {
margin: 8px 0 0 106px;
}

/** footer css adds **/
#footer {
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	background:#dbb63b;
	width: 902px;
}
#footer p{
	line-height: normal;
	}		
	
#navfooterlist li
{
display: inline;
list-style-type: none;
padding-right: 10px;

}
#navfooterlist li a{
	text-decoration:none;	
	font-size: 12px;

}
/** end footer css adds **/	