@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,500,500italic,bold,bolditalic');

*	{
	margin: 0;
	padding: 0;
}

div#twrapper	{
	width: 480px;
	margin: 0px auto;
	padding-bottom:20px;
}

div#twrapper header	{
	display: block;
	height: 92px;
	background: url('images/header.png') no-repeat;
	font-family: 'Ubuntu', Arial, serif;
	padding-left: 110px;
}

div#cwrapper	{
	width: 480px;
	margin: 20px auto;
}

div#cwrapper header	{
	display: block;
	height: 92px;
	background: url('images/header2.png') no-repeat;
	font-family: 'Ubuntu', Arial, serif;
	padding-left: 118px;
}

header h1	{
	font-size: 27px;
	font-weight: 500;
	padding-top: 22px;
	color: #fff;
	letter-spacing: -1px;
	text-shadow: 0px 1px #a1a19f, -1px -1px #000;
}

header h2	{
	font-size: 17px;
	font-weight: 500;
	color: #e5e5df;
	letter-spacing: .19em;
	margin-top: -5px;
	text-shadow: 0px 1px #8d8d86, -1px -1px #4c4c4b;
}

div#twrapper section	{
	display: block;
	background: url('images/sectionBg.gif') repeat-y;
	padding: 25px 0 5px;
}
div#cwrapper section	{
	display: block;
	background: url('images/sectionBg2.gif') repeat-y;
	padding: 10px 0 5px;
}
section div#freebar	{
	background: url('images/freebar.png') no-repeat;
}

section div.download	{
	width: 360px;
	height: 38px;
	background: url('images/download.png') left no-repeat;
	padding-left: 40px;
	margin: auto;
}

div.download a	{
	font-family: 'Tahoma', Arial, serif;
	font-size: 14px;
	font-weight: bold;
	color: #00f;
	line-height: 37px;
}

div#twrapper div#email_r, div#facebook_r, div#twitter_r, div#blog_r, div#forum_r, div#ownwebsite_r	{
	display: none;
}

section form	{
	font-family: 'Tahoma', Arial, serif;
}

section div.step	{
	height: 49px;
	padding-left: 77px;
}

section div#step1	{
	background: url('images/step1.png') no-repeat;
}

section div#step2	{
	background: url('images/step2.png') no-repeat;
}

section div#step3	{
	background: url('images/step3.png') no-repeat;
}

div.step h3	{
	font-family: 'Ubuntu', Arial, serif;
	font-weight: bold;
	font-size: 13px;
	font-style: italic;
	padding-top: 10px;
	color: #fff;
	text-shadow: 2px 2px 2px #414141;
}

section form#radio	{
	margin-left: 45px;
	font-size: 15px;
}

section form div.radio	{
	padding-left: 32px;
	min-height: 20px;
	margin-top: 5px;
}

section form input[type="radio"]	{
	margin-right: 5px;
}

section form div#emailRadio	{
	background: url('images/email-button.png') left 50% no-repeat;
}

section form div#facebookRadio	{
	background: url('images/fb-button.png') left 50% no-repeat;
}

section form div#twitterRadio	{
	background: url('images/twitter-button.png') left 50% no-repeat;
}

section form div#blogRadio	{
	background: url('images/blog-button.png') left 50% no-repeat;
}

section form div#forumRadio	{
	background: url('images/forum-button.png') left 50% no-repeat;
}

section form div#ownsiteRadio	{
	background: url('images/ownwebsite-button.png') left 50% no-repeat;
}

input[type="text"]	{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid #ddd;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;
	-webkit-box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;
	box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;	
}

textarea	{
	padding: 15px;
	border: 1px solid #ddd;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;
	-webkit-box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;
	box-shadow: -1px -1px 0px #a2a2a2, 1px 1px 0px #ececec;
}

input[type="button"]	{
	font-family: 'Ubuntu', Arial, serif;
	font-weight: bold;
	font-size: 22px;
	font-style: italic;
	color: #fff;
	text-shadow: 2px 2px 2px #238d11;
	min-height: 43px;
	border: 1px solid #999;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #6ddd08;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ddd08', endColorstr='#39a604');
	background: -webkit-gradient(linear, left top, left bottom, from(#6ddd08), to(#39a604));
	background: -moz-linear-gradient(top,  #6ddd08,  #39a604);
	margin-top: 10px;
	padding: 0 40px 2px;
}

section form div.owndetails	{
	width: 420px;
	margin: auto;
	padding-top: 15px;
}

div.owndetails label	{
	display: inline-block;
	width: 130px;
	float: left;
	font-family: 'Tahoma', Arial, serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
}

form input.firstname, input.lastname	{
	display: inline-block;
	width: 270px;
	height: 25px;
	float: left;
	margin-bottom: 8px;
}

form div.friendsdetails	{
	width: 420px;
	margin: auto;
}

div.friendsdetails label	{
	display: inline-block;
	width: 145px;
	text-align: center;
	margin: 15px 0 10px 45px;
	font-weight: bold;
	font-size: 14px;
}

div.friendsdetails label.numbers	{
	display: inline-block;
	width: 10px;
	margin: 6px 5px 0 0;
	font-weight: normal;
	color: #3cb503;
	float: left;
}

div.friendsdetails label.numbers span	{
	color: #000;
}

div.friendsdetails input	{
	display: inline-block;
	width: 180px;
	height: 20px;
	float: left;
	margin-bottom: 8px;
}

section form div.emailMessage	{
	width: 420px;
	margin: auto;
	padding-top: 20px;
}

div.emailMessage p	{
	font-weight: bold;
	margin: 0px 0 15px 0;
	font-size: 14px;
}

div.emailMessage label	{
	display: inline-block;
	font-size: 15px;
	width: 120px;
	float: left;
	color: #464646;
}

div.emailMessage input[type="text"]	{
	width: 275px;
	height: 20px;
	float: left;
	margin-bottom: 8px;
}

div.emailMessage textarea	{
	display: inline-block;
	width: 255px;
	height: 200px;
	float: left;
	margin-bottom: 8px;
}

form input#sendMail	{
	margin-right: 60px;
	float: right;
}

section form div.message	{
	width: 400px;
	margin: 20px 25px 0 0;
	float: right;
}

div.message textarea	{
	width: 370px;
	height: 120px;
}

div.message input[type="button"], div.verify input[type="button"]	{
	margin: 15px 16% auto;
	display: block;
	width: 280px;
}

section form div.verify	{
	width: 400px;
	margin: 20px 25px 0 0;
	float: right;
}

div.verify p	{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

div.verify input[type="text"]	{
	width: 370px;
	height: 24px;
}

footer	{
	display: block;
	height: 14px;
	background: url('images/footer.png') no-repeat;
}
#cwrapper footer	{
	display: block;
	height: 14px;
	background: url('images/footer2.png') no-repeat;
}

div.clear	{
	clear: both;
}
