@charset "utf-8";
*{
margin:0;
padding:0;
}


img, a img{
border:0 none;
}

img{
vertical-align:baseline;
}

a{
outline:0;
}

input:focus, textarea:focus, select:focus{
outline: none;
}

textarea {
resize: none;
}

/*img, div, input { behavior: url("iepngfix.htc") }*/


.imgCenter{
display:block;
margin:0 auto;
clear:both;
}

.imgRight{
float:right;
}

.imgLeft{
float:left;
}

.none{
display:none;
}

.underlined{
text-decoration:underline;
}

.textCenter{
text-align:center;
}

.textLeft{
text-align:left;
}

.textRight{
text-align:right;
}

.clear{
clear:both;
height:0;
line-height:0;
font-size:0;
}

body{
font-size:12px;
color:#555555;
background:transparent url(../images/bg.jpg) scroll repeat-x left top;
font-family:Arial, Helvetica, sans-serif;
}

/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
filter: alpha(opacity=0);*/


.wrapper{
	width:882px;
	margin:0 auto;
	display:block;
	}

.box{
	width:850px;
	padding:16px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:25px; 
	font-size:14px;
	line-height:20px;
	}
	
	
.boxtext{
	width:850px;
	padding:30px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:25px; 
	font-size:14px;
	line-height:20px;
	}	

.headingbox{
	padding:8px 16px;
	}

h1, h2, h3{
	text-align:center;
	color:#fff;
	}

h1{
    font-size: 42px;
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 45px;
    margin: 20px 0 0;
	}

h2{
    font-size: 18px;
    margin: 0 0 16px;
	}			

.box h3{
    color: #CE0000;
    font-size: 25px;
    letter-spacing: -0.02em;
	}		

.page-blue{
	background:#00396c url(../images/bg-blue.jpg) no-repeat center top;
	}

.page-darkGray{
	background:#202020 url(../images/bg-darkGray.jpg) no-repeat center top;	}

.page-yellow{
	background:#a67c00 url(../images/bg-yellow.jpg) no-repeat center top;
	}

.page-red{
	background:#9a0000 url(../images/bg-red.jpg) no-repeat center top;
	}

.page-gray{
	background:#b8b8b8 url(../images/bg-gray.jpg) no-repeat center top;
	}

.page-green{
	background:#054950 url(../images/bg-green.jpg) no-repeat center top;
	}		

.video-blue{
	background:#e5f2fa;
	}	

.video-darkGray{
	background:#e3e3e3;
	}

.video-yellow{
	background:#ede0bb;
	}

.video-red{
	background:#fa3737;
	}

.video-gray{
	background:#d7d7d7;
	}

.video-green{
	background:#dfeff1;
	}

.bgArrow{
	width:758px;
	margin:0 auto 25px;
	display:block;
	background:url(../images/bg-arrow.png) no-repeat center 75px;
	}	

.optinbox{
	width:600px;
	padding:30px;
	position:relative;
	margin:0 auto;
	color:#fff;
	display:block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}

.left-arrow{
	position:absolute;
	left:-49px;
	top:0;
	}

.right-arrow{
	position:absolute;
	right:-49px;
	top:0;
	}	

.optinbox h2{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
	}		

.inputRow{
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
	}

.inputRow span{
	display:block;
	float:left;
	width:267px;
	}	

.marginBtm {
	margin-bottom:20px;
	}

.marginBtm10{
	margin-bottom:10px;
	}	

.optinbox p small{
    font-size: 12px;
    font-weight: normal;
    padding-left: 11px;
	}		

.optinbox input, .optinbox select{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px 3px;
	color:#555555;
	width:323px;
	float:left;
	}
	
.optinbox select{
	width:330px;
	color:#555555;
	}

.optinbox input[type="checkbox"]{
    width: 20px;
	border:0 none;
	}	

.bgArrow input[type="image"]{
	border:0 none;
	margin:0 auto;
	float:none;
	display:block;
	clear:both;
	}		

.optin-blue{
	background:#2873b6;
	}

.optin-darkGray{
	background:#656565;
	}	

.optin-yellow{
	background:#d7a921;
	}	

.optin-red{
	background:#d80d0d;
	}
		
.optin-gray{
	background:#d2d2d2;
	}
		
.optin-green{
	background:#13838f;
	}
			
.optin-blue input, .optin-blue select{
	border:1px solid #044e8f;
	}

.optin-darkGray input, .optin-darkGray select{
	border:1px solid #202020;
	}

.optin-yellow input, .optin-yellow select{
	border:1px solid #ce9f15;
	}

.optin-red input, .optin-red select{
	border:1px solid #9a0000;
	}

.optin-gray input, .optin-gray select{
	border:1px solid #999999;
	}

.optin-green input, .optin-green select{
	border:1px solid #0b636c;
	}							
			
.footerFull{
	width:100%;
	}

.footer-blue{
	border-top-color:#010e1a;
	}

	.footer-blue p, .footer-blue p a{
		color: #010e1a;
		}		

.footer-darkGray{
	border-top-color:#0e0e0e;
	}

	.footer-darkGray p, .footer-darkGray p a{
		color: #0e0e0e;
		}		

.footer-yellow{
	border-top-color:#674d01;
	}

	.footer-yellow p, .footer-yellow p a{
		color: #674d01;
		}		

.footer-red{
	border-top-color:#5a0000;
	}

	.footer-red p, .footer-red p a{
		color: #5a0000;
		}		

.footer-gray{
	border-top-color:#888888;
	}

	.footer-gray p, .footer-gray p a{
		color: #888888;
		}		

.footer-green{
	border-top-color:#023237;
	}

	.footer-green p, .footer-green p a{
		color: #023237;
		}		


#footer{
	width:940px;
	padding:13px 0 0;
	margin:0 auto 10px;
	border-top-style:solid;
	border-top-width:1px;
	}	

#footer p{
	text-align:center;
	}	

#footer p a{
	text-decoration:none;
	}

#footer p a:hover{
	text-decoration:underline;
	}					