@font-face {
    font-family: 'ArialNarrowMTStdRegular';
    src: url('arialnarrowmtstd-webfont.eot');
    src: url('arialnarrowmtstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('arialnarrowmtstd-webfont.woff') format('woff'),
         url('arialnarrowmtstd-webfont.ttf') format('truetype'),
         url('arialnarrowmtstd-webfont.svg#ArialNarrowMTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

