@charset "utf-8";
*{
margin:0;
padding:0;
}


img, a img{
border:0 none;
}

img{
vertical-align:baseline;
}

a{
outline:0;
}

input:focus, textarea:focus, select:focus{
outline: none;
}

textarea {
resize: none;
}

/*img, div, input { behavior: url("iepngfix.htc") }*/


.imgCenter{
display:block;
margin:0 auto;
clear:both;
}

.imgRight{
float:right;
}

.imgLeft{
float:left;
}

.none{
display:none;
}

.underlined{
text-decoration:underline;
}

.textCenter{
text-align:center;
}

.textLeft{
text-align:left;
}

.textRight{
text-align:right;
}

.clear{
clear:both;
height:0;
line-height:0;
font-size:0;
}

body{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}


/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
filter: alpha(opacity=0);*/

.body-blue{
	background:url(../images/blue-bg.jpg) repeat;
	}

.body-dark-gray{
	background:url(../images/dark-gray-bg.jpg) repeat;
	}

.body-green{
	background:url(../images/green-bg.jpg) repeat;
	}

.body-gray{
	background:url(../images/gray-bg.jpg) repeat;
	}

.body-red{
	background:url(../images/red-bg.jpg) repeat;
	}

.body-yellow{
	background:url(../images/yellow-bg.jpg) repeat;
	}					


#header{
	width:100%;
	height:116px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

#header h1, #header h2{
	text-align:center;
	}

#header h1{
    font-size: 37px;
    font-weight: normal;
    letter-spacing: 0.08em;
    line-height: 38px;
    padding-top: 38px;
	}

.whiteheadertext{
	color:#ededed;
	}

.blackheadertext{
	color:#272727;
	}		

#header h2{
    font-size: 22px;
    line-height: 24px;;
	color:#fff;
	font-weight:normal;
	}	

.h1-blue{
	color:#00396c;
	}

.h1-dark-gray{
	color:#151515;
	}

.h1-green{
	color:#054950;
	}

.h1-gray{
	color:#545454;
	}

.h1-red{
	color:#9a0000;
	}

.h1-yellow{
	color:#a67c00;
	}			
	
.header-blue{
	background:url(../images/header-blue.jpg) repeat-x left top;
}

.header-dark-gray{
	background:url(../images/header-dark-gray.jpg) repeat-x left top;
}

.header-gray{
	background:url(../images/header-gray.jpg) repeat-x left top;
}

.header-red{
	background:url(../images/header-red.jpg) repeat-x left top;
}

.header-yellow{
	background:url(../images/header-yellow.jpg) repeat-x left top;
}

.header-green{
	background:url(../images/header-green.jpg) repeat-x left top;
}

.wrapper{
	width:960px;
	margin:0 auto;
	display:block;
	}

.content{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	background:#fff;
	}

.content-blue{
	background:#fff url(../images/content-blue.jpg) repeat-y right top;
	}

.content-dark-gray{
	background:#fff url(../images/content-dark-gray.jpg) repeat-y right top;
	}	
	
.content-green{
	background:#fff url(../images/content-green.jpg) repeat-y right top;
	}

.content-gray{
	background:#fff url(../images/content-gray.jpg) repeat-y right top;
	}

.content-red{
	background:#fff url(../images/content-red.jpg) repeat-y right top;
	}	
	
.content-yellow{
	background:#fff url(../images/content-yellow.jpg) repeat-y right top;
	}

		
.contenttop{
	background:url(../images/contenttop.jpg) no-repeat left top;
	}

.contentbottom{
	background:url(../images/contentbottom.jpg) no-repeat left bottom;
	padding-bottom: 25px;
	}			
	
.leftbox{
	width:588px;
	float:left;
	margin:34px 0 0 31px;
	}	

.leftbox h1{
    color: #CE0000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
    font-size: 29px;
    line-height: 30px;
    text-align: center;
	}

#videobox{
	width:560px;
	height:358px;
	margin:20px auto 0;
	display:block;
	}	

.video-blue{
	background:url(../images/video-blue.jpg) no-repeat left top;
	}	
	
.video-dark-gray{
	background:url(../images/video-dark-gray.jpg) no-repeat left top;
	}

.video-gray{
	background:url(../images/video-dark-gray.jpg) no-repeat left top;
	}

.video-red{
	background:url(../images/video-red.jpg) no-repeat left top;
	}			

.video-yellow{
	background:url(../images/video-yellow.jpg) no-repeat left top;
	}	

.video-green{
	background:url(../images/video-green.jpg) no-repeat left top;
	}				

.videocodebox{
	padding:10px;
	width:540px;
	height:300px;
	}	

.reserve{
    float: right;
    margin: 10px 0 0;
    padding: 173px 12px 0 0;
    width: 289px;
	}	

.optin-blue{
	background:url(../images/optin-blue.jpg) no-repeat center top;
	}

.optin-blue .inputbg{
	background:url(../images/input-blue.jpg) no-repeat left top;
	}

.optin-dark-gray{
	background:url(../images/optin-dark-gray.jpg) no-repeat center top;
	}

.optin-dark-gray .inputbg{
	background:url(../images/input-dark-gray.jpg) no-repeat left top;
	}	

.optin-green{
	background:url(../images/optin-green.jpg) no-repeat center top;
	}

.optin-green .inputbg{
	background:url(../images/input-green.jpg) no-repeat left top;
	}

.optin-gray{
	background:url(../images/optin-gray.jpg) no-repeat center top;
	}

.optin-gray .inputbg{
	background:url(../images/input-gray.jpg) no-repeat left top;
	}

.optin-red{
	background:url(../images/optin-red.jpg) no-repeat center top;
	}

.optin-red .inputbg{
	background:url(../images/input-red.jpg) no-repeat left top;
	}			
			
.optin-yellow{
	background:url(../images/optin-yellow.jpg) no-repeat center top;
	}

.optin-yellow .inputbg{
	background:url(../images/input-yellow.jpg) no-repeat left top;
	}		
			

.inputbg{
	width:241px;
	height:36px;
	margin:0 auto 15px;
	display:block;
	}	

.inputbg input, .inputbg select{
    border: 0 none;
    color: #555555;
    font-size: 15px;
    margin: 8px 0 0 10px;
    width: 219px;
	}
.reserve h3{
	text-align:center;
	color:#222222;
	font-size:16px;
	margin-bottom:20px;
	}

.reserve h3 span{
	color:#ed0000;
	}	

.sms{
    color: #555555;
    line-height: 20px;
    margin-bottom: 27px;
    text-align: center;
	}	

input[type="image"]{
	margin:0 auto;
	display:block;
	}	

.privacy{
	color:#d1ccbc;
	text-align:center;
	margin-bottom:10px;
	line-height:24px;
	font-size:12px;
	text-transform:uppercase;
	}	

.privacy a{
	color:#d1ccbc;
	text-decoration:none;
	}

.privacy a:hover{
	text-decoration:underline;
	}

#footer{
	width:100%;
	height:48px;
	margin:5px 0 0 0;
	}

#footer p{
	text-align:center;
	line-height:47px;
	}	

#footer p a {
	text-decoration:none;
	padding: 0 5px;
	}	

#footer p a:hover{
	text-decoration:underline;
	}
	
.footer-blue, .footer-blue a{
	color:#5888b3;
	}

.footer-dark-gray, .footer-dark-gray a{
	color:#999999;
	}

.footer-green, .footer-green a{
	color:#789a9f;
	}

.footer-gray, .footer-gray a{
	color:#999999;
	}

.footer-red, .footer-red a{
	color:#d58f8f;
	}

.footer-yellow, .footer-yellow a{
	color:#bea14d;
	}						
