body, h1, h2, h3, h4, h5, p, form, ul, ol, li, fieldset { 
margin: 0; 
padding: 0; 
}

object, embed { 
outline: none; 
}

ul, ol, li { 
list-style: none; 
}

img, fieldset { 
border: 0; 
}

body {
background: #ededed url(images/sq_header_bg.png) repeat-x top center;
font-family: arial, verdana, helvetica, san-serif;
font-size: 15px;
color: #595959;
}

#header {
background: transparent;
width: 1000px;
height: 125px;
margin: 0 auto;
text-align: center;
}

#header h1 {
padding-top: 4px;
}

h1 {
font-size: 48px;
font-family: impact, verdana, arial, tahoma, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #fff;
margin: 0;
padding: 0;
text-align: center;
text-shadow: 0 2px 2px #000;
}

h2 {
font-size: 36px;
font-family: impact, verdana, arial, san-serif;
letter-spacing: 2px;
font-weight: normal;
color: #ff8400;
margin: 0;
padding: 0;
text-align: center;
}


#wrapper {
width: 1000px;
margin: 0 auto;
background: url(images/sq_body_bg.png) repeat-y;
}


#sq_intro {
width: 1000px;
margin: 0 40px;
}

#sq_intro-text {
width: 480px;
margin: 25px 15px 0 0;
float: left;
}

#sq_intro-text h3 {
font-size: 25px;
color: #000;
font-weight: bold;
margin: 10px 0;
}

#sq_intro-text p {
line-height: 22px;
margin: 17px 0;
}

.clear {
clear: both;
}

#sq_form {
width: 438px;
float: left;
margin: 35px 0 86px 0;
background: url(images/sq_form_bg.png);

}

#sq_form-header {
height: 100px;
padding-top: 5px;
background: url(images/sq_form_header.png) no-repeat;
}

#sq_form-bg form {
margin: 0;
}

#sq_form-footer {
background: #fff url(images/sq_form_footer.png) no-repeat;
height: 118px;
width: 438px;
margin-top: -100px;
}

#line1 {
padding-top: 4px;
font-size: 28px;
font-weight: bold;
color: #fff;
text-align: center;
}

#line2 {
font-size: 30px;
font-weight: bold;
color: #39beff;
text-align: center;
}

#local-time {
font-size: 25px;
text-align: center;
color: #fff;
font-weight: normal;
height: 45px;
line-height: 25px;
}
				

#footer {
width: 1000px;
margin: 0 auto;
background: url(images/sq_footer_bg.png) no-repeat;
height: 88px;
text-align: center;
}

#footer p {
line-height: 88px;
color: #b3cbe1;
font-size: 12px;
}

#footer a {
text-decoration: none;
color: #b3cbe1;
padding: 0 10px;
}



#date, #time {
width: 365px;
margin: 0 0 20px 30px;
}

#date-title, #time-title {
line-height: 22px;
height: 22px;
font-size: 16px;
color: #fff;
width: 155px;
padding-right: 20px;
text-align: right;
float: left;
}

#date-select, #time-select {
width: 180px;
float: left;
}

#date-select select, #time-select select {
font-size: 13px;
color: #3d3d3d;
padding: 1px 20px 1px 4px;
}

#dates, #times {
width: 180px;
}

#sq_register {
color: #fff;
font-size: 25px;
font-weight: bold;
text-align: center;
margin: 45px 0 15px 0;
}

.entry {
font-size: 13px;
color: #3d3d3d;
margin: 0 0 8px 85px;
padding: 5px 0 5px 5px;
width: 250px;
border: 0;
}

.submit {
margin: 8px 0 0 106px;
}

.smscolor{
 color: #FFFFFF;
}