@charset "utf-8";
*{
margin:0;
padding:0;
}


img, a img{
border:0 none;
}

img{
vertical-align:baseline;
}

a{
outline:0;
}

input:focus, textarea:focus, select:focus{
outline: none;
}

textarea {
resize: none;
}

/*img, div, input { behavior: url("iepngfix.htc") }*/


.imgCenter{
display:block;
margin:0 auto;
clear:both;
}

.imgRight{
float:right;
}

.imgLeft{
float:left;
}

.none{
display:none;
}

.underlined{
text-decoration:underline;
}

.textCenter{
text-align:center;
}

.textLeft{
text-align:left;
}

.textRight{
text-align:right;
}

.clear{
clear:both;
height:0;
line-height:0;
font-size:0;
}

body{
font-size:12px;
background:#fff url(../images/bg.gif) repeat-x left top;
font-family:Arial, Helvetica, sans-serif;
}

/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
filter: alpha(opacity=0);*/

#header{
	width:100%;
	height:116px;
	}

#header h1{
    color: #FFFFFF;
    font-size: 30px;
    font-style: italic;
    letter-spacing: -0.02em;
    line-height: 45px;
    padding-top: 15px;
    text-align: center;
	}

.whiteheadertext{
	color:#ededed;
	}

.blackheadertext{
	color:#272727;
	}		

#header h2{
    font-size: 22px;
    line-height: 24px;;
	}	


.header-blue{
	background:url(../images/header-blue.jpg) repeat-x left top;
}

.header-dark-grey{
	background:url(../images/header-dark-grey.jpg) repeat-x left top;
}

.header-light-grey{
	background:url(../images/header-light-grey.jpg) repeat-x left top;
}

.header-red{
	background:url(../images/header-red.jpg) repeat-x left top;
}

.header-yellow{
	background:url(../images/header-yellow.jpg) repeat-x left top;
}

.header-green{
	background:url(../images/header-green.jpg) repeat-x left top;
}

.header-light-grey h1{
	color:#000 !important;
	}

.wrapper{
	width:960px;
	margin:0 auto;
	display:block;
	}

.content{
	margin-top:22px;
	background:url(../images/bg-top.gif) no-repeat center top;
	}

.contenttop{
	}

.contentbottom{
	padding-bottom: 25px;
	}			
	
.leftbox{
	width:588px;
	float:left;
	margin:34px 0 0 31px;
	}	

.leftbox h1{
    color: #CE0000;
    font-size: 29px;
    line-height: 30px;
    text-align: center;
	}

#videobox{
	width:560px;
	height:346px;
	margin:20px auto 0;
	display:block;
	}	

.video-blue{
	background:url(../images/video-blue.gif) no-repeat left top;
	}	
	
.video-dark-grey{
	background:url(../images/video-dark-grey.gif) no-repeat left top;
	}

.video-light-grey{
	background:url(../images/video-light-grey.gif) no-repeat left top;
	}

.video-red{
	background:url(../images/video-red.gif) no-repeat left top;
	}			

.video-yellow{
	background:url(../images/video-yellow.gif) no-repeat left top;
	}	

.video-green{
	background:url(../images/video-green.gif) no-repeat left top;
	}				

.videocodebox{
	padding:10px;
	width:540px;
	height:300px;
	}	

.reserve{
	float:right;
	width:289px;
	background:url(../images/reserve.jpg) repeat-y left top;
	margin:54px 31px 0 0;
	}	

.inputbg{
	background:url(../images/inputbg.gif) no-repeat left top;
	width:241px;
	height:36px;
	margin:0 auto 15px;
	display:block;
	}	

.inputbg input, .inputbg select{
    border: 0 none;
    color: #555555;
    font-size: 15px;
    margin: 8px 0 0 10px;
    width: 219px;
	}
.reserve h3{
	text-align:center;
	color:#222222;
	font-size:16px;
	margin-bottom:20px;
	}

.reserve h3 span{
	color:#ed0000;
	}	

.sms{
    color: #555555;
    line-height: 20px;
    margin-bottom: 27px;
    text-align: center;
	}	

input[type="image"]{
	margin:0 auto;
	display:block;
	}	

.privacy{
	color:#d1ccbc;
	text-align:center;
	margin-bottom:10px;
	line-height:24px;
	font-size:12px;
	text-transform:uppercase;
	}	

.privacy a{
	color:#d1ccbc;
	text-decoration:none;
	}

.privacy a:hover{
	text-decoration:underline;
	}

#footer{
	width:100%;
	height:48px;
	margin:0 0 0 0;
	padding:10px 0 0;
	}

#footer p{
	text-align:center;
	color:#828282;
	line-height:47px;
	}	

#footer p a {
	text-decoration:none;
	color:#828282;
	padding: 0 5px;
	}	

#footer p a:hover{
	text-decoration:underline;
	}

.footer{
	background:url(../images/footer.gif) no-repeat center top;
	}	

		

.headtext{
    color: #CC0000;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
	}	

.leftbox p{
	padding:5px 17px 0;
	color:#555555;
	font-size:14px;
	line-height:18px;
	}	