@import '../fonts/stylesheet.css';

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000;
    line-height: normal;
    background: #dfdfdf;
}

.clear {
    clear: both;
}

#wrapper {
    width: 991px;
    margin: 20px auto;
}

#wrapper #left {
    width: 688px;
    float: left;
    background: url(../images/left-bg.jpg) left top repeat-y;
}

#wrapper #left .header {
    background: url(../images/left-top.png) left top no-repeat;
}

#wrapper #left .header .top-headline {
    height: 39px;
    color: #4c6e99;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'ArialNarrowMTStdRegular', 'Myriad Pro', sans-serif;
    font-variant: small-caps;
    text-align: right;
    padding: 22px 13px 0 295px;
    font-weight: bold;
}

#wrapper #left .footer {
    background: url(../images/left-bottom.jpg) left top no-repeat;
    height: 47px;
}

#wrapper #left .content {
    padding: 0px;
    margin: 0 0 0 19px;
    width: 655px;
}

#wrapper #left #video-container_wrapper {
    margin: 0 auto;
}

#wrapper #left .video {
    margin-left: 18px;
    background: #000;
    width: 657px;
}

#wrapper #right {
    width: 303px;
    float: left;
    background: url(../images/right-bg.jpg) left top repeat-y;
}

#wrapper #right .header {
    background: url(../images/right-top.png) left top no-repeat;
   
}

#wrapper #right .attending {
    line-height: 33px;
    padding: 0 0 0 128px;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 18px;
    height: 33px;
}

#wrapper #right .attenders {
    height: 123px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url(../images/right-attending-bg.jpg) left top repeat-y;
    margin-right: 15px;
    padding-bottom:10px;
}

#wrapper #right .attenders  ul {
    list-style: none;
    margin: 5px 0 0 22px;
    padding-left: 0;
}

#wrapper #right .attenders  ul  li {
    color: #000;
    font-size: 12px;
    line-height: 16px;
}

#wrapper #right .attenders  ul  li.active {
    color: #b70000;
    font-size: 14px;
    font-weight: bold;
}

#wrapper #right .footer {
    background: url(../images/right-bottom.jpg) left top no-repeat;
}

#wrapper #right .top-controls {
    height: 160px;
}

#wrapper #right .chat-header {
    background: url(../images/right-chat-header.jpg) left top no-repeat;
    height: 35px;
}

#wrapper #right .send-questions-header {
    background: url(../images/right-send-question-header.jpg) left top no-repeat;
    height: 25px;
}

#wrapper #right .chat {
    background: url(../images/right-chat-bg.jpg) left top repeat-y;
    height: 155px;
    overflow: hidden;
}

#wrapper #right .chat-form {
    background: url(../images/right-chat-submit-sep.jpg) left top no-repeat;
    padding-top: 11px;
	padding-bottom:5px;
}

#wrapper #right .chat-form .button {
    margin-left: 23px;
}

#wrapper #right .footer {
    font-size: 10px;
    color: #000;
    text-align: right;
    padding-right: 14px;
    padding-top: 7px;
    height: 42px;
}

#wrapper #right .footer .status {
    font-weight: bold;
}

#wrapper #right .footer .status .red {
    color: #920000;
}

#wrapper #right .footer .webinar-id {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.5px;
    margin-top: 2px;
}

#wrapper #right .chat-form textarea {
    display: block;
    width: 233px;
    margin: 0 0 8px 23px;
    height: 43px;
    border: 1px solid #b1b1b1;
    border-top: none;
    padding: 5px 10px;
    color: #b1b1b1;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

#right .chat ul {
    padding: 5px 0;
    width: 253px;
    display: block;
    margin: 0 auto;
    list-style: none;
    height: 145px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#right .chat ul li {
    margin-bottom: 5px;
    padding: 0 0 0 5px;
    font-size: 12px;
}

#right .chat ul li .author {
    color: #4e76a7;
    font-weight: bold;
}


#ajaxloader{
  position: fixed;
  top: 0;
  z-index:100;
  width:100%;
  height:50px; 
  position:fixed; 
  padding-top: 10px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  display: none;
}

#buffertime, #preview1{
  position: fixed;
  top: 0;
  z-index:100;
  width:100%;
  height:50px; 
  position:fixed; 
  padding-top: 10px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  display: block;
}

.eventdivs, #divfixedbutton{ background-color: #FFFFFF !important;padding-top:10px;padding-bottom:10px; }
.attending{margin-top:25px;}
#spacer{background-color: #FFFFFF;    height: 60px;    margin-left: 15px;    margin-right: 15px;    margin-top: 2px;}